<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.wegfan.forum.mapper.BoardMapper">
    <select id="selectNotDeletedByNameAndCategoryId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND name = #{name}
          AND category_id = #{categoryId}
    </select>

    <select id="selectNotDeletedByBoardId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND id = #{boardId}
    </select>

    <select id="selectNotDeletedBoardIdList" resultType="Long">
        SELECT id
        FROM board
        WHERE delete_time IS NULL
    </select>

    <update id="deleteByBoardId">
        UPDATE board
        SET delete_time = now()
        WHERE id = #{boardId}
    </update>

    <select id="selectNotDeletedAdminBoardListByUserId" resultType="Board">
        SELECT board.*
        FROM board,
             board_admin
        WHERE board.id = board_admin.board_id
          AND board_admin.user_id = #{userId}
          AND delete_time IS NULL
    </select>
</mapper>