<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.wegfan.forum.mapper.BoardMapper">
    <select id="selectNotDeletedByNameAndCategoryId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND name = #{name}
          AND category_id = #{categoryId}
    </select>

    <select id="selectNotDeletedByBoardId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND id = #{boardId}
    </select>

    <select id="selectNotDeletedBoardIdList" resultType="Long">
        SELECT id
        FROM board
        WHERE delete_time IS NULL
    </select>

    <update id="deleteByBoardId">
        UPDATE board
        SET delete_time = now()
        WHERE id = #{boardId}
    </update>

    <select id="selectNotDeletedAdminBoardListWithBoardAdminByUserId" resultType="Board">
        SELECT board.*
        FROM board,
             board_admin
        WHERE board.id = board_admin.board_id
          AND board_admin.user_id = #{userId}
          AND delete_time IS NULL
    </select>


    <select id="checkBoardAdminByUserIdAndBoardId" resultType="boolean">
        SELECT count(1)
        FROM board
        WHERE board.id = #{boardId}
          AND delete_time IS NULL
          AND (exists(SELECT 1
                      FROM board_admin
                      WHERE board_admin.user_id = #{userId}
                        AND board_admin.board_id = #{boardId}
                        AND board.id = board_admin.board_id)
            OR exists(SELECT 1
                      FROM category_admin
                      WHERE category_admin.user_id = #{userId}
                        AND board.category_id = category_admin.category_id)
            )
    </select>

    <select id="selectNotDeletedAdminBoardListWithBoardCategoryAdminByUserId" resultType="Board">
        SELECT board.*
        FROM board
                 LEFT JOIN category ON board.category_id = category.id
        WHERE board.delete_time IS NULL
          AND (exists(SELECT 1
                      FROM board_admin
                      WHERE board_admin.user_id = #{userId}
                        AND board_admin.board_id = board.id)
            OR exists(SELECT 1
                      FROM category_admin
                      WHERE category_admin.user_id = #{userId}
                        AND board.category_id = category_admin.category_id)
            )
        ORDER BY ${orderBy}
    </select>

    <select id="selectNotDeletedBoardListByPage" resultType="cn.wegfan.forum.model.entity.Board">
        SELECT board.*
        FROM board
                 LEFT JOIN category ON board.category_id = category.id
        WHERE board.delete_time IS NULL
        ORDER BY ${orderBy}
    </select>
</mapper>