<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.wegfan.forum.mapper.BoardMapper">
    <select id="selectNotDeletedByNameAndCategoryId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND name = #{name}
          AND category_id = #{categoryId}
    </select>

    <select id="selectNotDeletedByBoardId" resultType="Board">
        SELECT *
        FROM board
        WHERE delete_time IS NULL
          AND id = #{boardId}
    </select>

    <select id="selectNotDeletedBoardIdList" resultType="Long">
        SELECT id
        FROM board
        WHERE delete_time IS NULL
    </select>

    <update id="deleteByBoardId">
        UPDATE board
        SET delete_time = now()
        WHERE id = #{boardId}
    </update>

    <update id="deleteByCategoryId">
        UPDATE board
        SET delete_time = now()
        WHERE category_id = #{categoryId}
    </update>

    <select id="selectNotDeletedAdminBoardListByUserId" resultType="Board">
        SELECT board.*
        FROM board,
             board_admin
        WHERE board.id = board_admin.board_id
          AND board_admin.user_id = #{userId}
          AND delete_time IS NULL
    </select>


    <select id="checkBoardAdminByUserIdAndBoardId" resultType="boolean">
        SELECT count(1)
        FROM board
        WHERE board.id = #{boardId}
          AND delete_time IS NULL
          AND (exists(SELECT 1
                      FROM board_admin
                      WHERE board_admin.user_id = #{userId}
                        AND board_admin.board_id = #{boardId}
                        AND board.id = board_admin.board_id)
            OR exists(SELECT 1
                      FROM category_admin
                      WHERE category_admin.user_id = #{userId}
                        AND board.category_id = category_admin.category_id)
            )
    </select>

    <select id="selectNotDeletedAdminBoardListIncludingCategoryAdminByUserId" resultType="Board">
        SELECT board.*
        FROM board
                 LEFT JOIN category ON board.category_id = category.id
        WHERE board.delete_time IS NULL
          AND (exists(SELECT 1
                      FROM board_admin
                      WHERE board_admin.user_id = #{userId}
                        AND board_admin.board_id = board.id)
            OR exists(SELECT 1
                      FROM category_admin
                      WHERE category_admin.user_id = #{userId}
                        AND board.category_id = category_admin.category_id)
            )
        ORDER BY ${orderBy}
    </select>

    <select id="selectNotDeletedBoardListByPage" resultType="Board">
        SELECT board.*
        FROM board
                 LEFT JOIN category ON board.category_id = category.id
        WHERE board.delete_time IS NULL
        ORDER BY ${orderBy}
    </select>

    <select id="selectHomepageBoardListByUserId" resultType="Board">
        SELECT DISTINCT board.*, category.id AS c_id, category.order AS c_order
        FROM user,
             board
                 LEFT JOIN category ON board.category_id = category.id
        WHERE board.delete_time IS NULL
          AND (board.visible = 1 AND category.visible = 1
            OR user.id = #{userId} AND (user.admin = 1 OR user.super_board_admin = 1))
        UNION
        (
            SELECT board.*, category.id AS c_id, category.order AS c_order
            FROM board
                     LEFT JOIN category ON board.category_id = category.id
            WHERE board.delete_time IS NULL
              AND (exists(SELECT 1
                          FROM board_admin
                          WHERE board_admin.user_id = #{userId}
                            AND board_admin.board_id = board.id)
                OR exists(SELECT 1
                          FROM category_admin
                          WHERE category_admin.user_id = #{userId}
                            AND board.category_id = category_admin.category_id)
                )
        )
        ORDER BY `c_order`, `c_id`, `order`, `id`
    </select>
</mapper>