<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.wegfan.forum.mapper.CategoryMapper">
    <select id="selectNotDeletedByCategoryId" resultType="Category">
        SELECT *
        FROM category
        WHERE delete_time IS NULL
          AND id = #{categoryId}
    </select>

    <select id="selectNotDeletedByName" resultType="Category">
        SELECT *
        FROM category
        WHERE delete_time IS NULL
          AND name = #{name}
    </select>

    <select id="selectNotDeletedCategoryIdList" resultType="Long">
        SELECT id
        FROM category
        WHERE delete_time IS NULL
    </select>

    <delete id="deleteByCategoryId">
        UPDATE category
        SET delete_time = now()
        WHERE id = #{categoryId}
    </delete>

    <select id="selectNotDeletedAdminCategoryListByPageAndUserId" resultType="Category">
        SELECT category.*
        FROM category,
             category_admin
        WHERE category.id = category_admin.category_id
          AND category_admin.user_id = #{userId}
          AND delete_time IS NULL
        ORDER BY ${orderBy}
    </select>

    <select id="selectNotDeletedCategoryListByPage" resultType="Category">
        SELECT *
        FROM category
        WHERE delete_time IS NULL
        ORDER BY ${orderBy}
    </select>
</mapper>