<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wegfan.forum.mapper.PermissionMapper">
    <select id="selectForumPermissionByUserId" resultType="Permission">
        SELECT *
        FROM permission
        WHERE user_id = #{userId}
          AND board_id IS NULL
    </select>

    <select id="selectBoardPermissionByBoardId" resultType="Permission">
        SELECT *
        FROM permission
        WHERE board_id = #{boardId}
          AND user_id IS NULL
    </select>

    <select id="selectUserBoardPermissionByUserIdAndBoardId" resultType="Permission">
        SELECT *
        FROM permission
        WHERE user_id = #{userId}
          AND board_id = #{boardId}
    </select>

    <select id="selectBoardPermissionListByUserId" resultType="Permission">
        SELECT *
        FROM permission
        WHERE user_id = #{userId}
          AND board_id IS NOT NULL
    </select>
</mapper>