<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wegfan.forum.mapper.UserMapper">
    <select id="selectNotDeletedByUserId" resultType="User">
        SELECT *
        FROM user
        WHERE delete_time IS NULL
          AND id = #{userId}
    </select>

    <select id="selectNotDeletedByUsername" resultType="User">
        SELECT *
        FROM user
        WHERE delete_time IS NULL
          AND username = #{username}
    </select>

    <update id="updateUserLoginTimeAndIpByUserId">
        UPDATE user
        SET last_login_time = #{loginTime},
            last_login_ip = #{loginIp}
        WHERE id = #{userId}
    </update>

    <update id="updateUserPersonalInfoByUserId">
        UPDATE user
        SET update_time = now(),
            nickname = #{nickname},
            sex = #{sex},
            signature = #{signature}
        WHERE id = #{userId}
    </update>

    <update id="updateUserPasswordByUserId">
        UPDATE user
        SET update_time = now(),
            password = #{newPassword}
        WHERE id = #{userId}
    </update>

    <update id="deleteByUserId">
        UPDATE user
        SET delete_time = now()
        WHERE id = #{userId}
    </update>

    <select id="selectListByName" resultType="User">
        SELECT *
        FROM user
        WHERE username LIKE concat('%', #{user}, '%')
           OR nickname LIKE concat('%', #{user}, '%')
        LIMIT 10
    </select>

    <select id="selectNotDeletedUserListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedNormalUserListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            AND id NOT IN (SELECT user_id FROM board_admin)
            AND id NOT IN (SELECT user_id FROM category_admin)
            AND super_board_admin = 0
            AND admin = 0
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedBoardAdminListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            AND id IN (SELECT user_id FROM board_admin)
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedCategoryAdminListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            AND id IN (SELECT user_id FROM category_admin)
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedSuperBoardAdminListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            AND super_board_admin = 1
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedAdminListByPageAndUsername" resultType="User">
        SELECT *
        FROM user
        <where>
            AND delete_time IS NULL
            AND admin = 1
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedBanVisitListByPageAndUsername" resultType="User">
        SELECT DISTINCT user.*
        FROM user, permission
        <where>
            AND delete_time IS NULL
            AND user.id = permission.user_id
            AND permission.ban_visit = 1
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedBanCreateTopicAndReplyListByPageAndUsername" resultType="User">
        SELECT DISTINCT user.*
        FROM user, permission
        <where>
            AND delete_time IS NULL
            AND user.id = permission.user_id
            AND (permission.ban_create_topic = 1 OR permission.ban_reply = 1)
            <if test="username != null">
                AND username LIKE concat('%', #{username}, '%')
            </if>
        </where>
    </select>

    <select id="selectNotDeletedByEmail" resultType="User">
        SELECT *
        FROM user
        WHERE delete_time IS NULL
          AND email = #{email}
    </select>

    <select id="selectNotDeletedCategoryAdminListByCategoryId" resultType="User">
        SELECT user.*
        FROM user,
             category_admin
        WHERE delete_time IS NULL
          AND user.id = category_admin.user_id
          AND category_admin.category_id = #{categoryId}
    </select>
</mapper>